<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTestSuite" parallel="methods" thread-count="6">
    <test name="testSelenide1">
        <classes>
            <class name="com.ratnikov.SelenoidTests"></class>
        </classes>
    </test>
</suite>
